@page
@model TFT_Test.Pages.ActorsCRUD.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Actor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Actor.ActorId" />
            <div class="form-group">
                <label asp-for="Actor.ActorName" class="control-label"></label>
                <input asp-for="Actor.ActorName" class="form-control" />
                <span asp-validation-for="Actor.ActorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor.ActorSurname" class="control-label"></label>
                <input asp-for="Actor.ActorSurname" class="form-control" />
                <span asp-validation-for="Actor.ActorSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor.ActorAdress" class="control-label"></label>
                <input asp-for="Actor.ActorAdress" class="form-control" />
                <span asp-validation-for="Actor.ActorAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor.ExpectedFee" class="control-label"></label>
                <input asp-for="Actor.ExpectedFee" class="form-control" />
                <span asp-validation-for="Actor.ExpectedFee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor.ActorPassword" class="control-label"></label>
                <input asp-for="Actor.ActorPassword" class="form-control" />
                <span asp-validation-for="Actor.ActorPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actor.ActorEmail" class="control-label"></label>
                <input asp-for="Actor.ActorEmail" class="form-control" />
                <span asp-validation-for="Actor.ActorEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
