@page
@model TFT_Test.Pages.FilmCRUD.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Film</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Film.FilmName" class="control-label"></label>
                <input asp-for="Film.FilmName" class="form-control" />
                <span asp-validation-for="Film.FilmName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film.FilmDescription" class="control-label"></label>
                <input asp-for="Film.FilmDescription" class="form-control" />
                <span asp-validation-for="Film.FilmDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film.FilmLengt" class="control-label"></label>
                <input asp-for="Film.FilmLengt" class="form-control" />
                <span asp-validation-for="Film.FilmLengt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film.StartedFilming" class="control-label"></label>
                <input asp-for="Film.StartedFilming" class="form-control" />
                <span asp-validation-for="Film.StartedFilming" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Film.EndedFilming" class="control-label"></label>
                <input asp-for="Film.EndedFilming" class="form-control" />
                <span asp-validation-for="Film.EndedFilming" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
